@model SmartSchool.Models.NoticeBoard

@{
    ViewBag.Title = "Notice";
}

<h2></h2>
<h4 class="h-position">Notice Board</h4>
<hr class="hr-design">

<!-- Search form -->
@using (Html.BeginForm())
{
    <p class="form-inline active-cyan-4">
        @Html.EditorFor(model => model.Search, new { htmlAttributes = new { @class = "search-key", @placeholder = "Search..." }, onchange = "this.form.submit();" })
        <button type="submit" class="btn-sr"><i class="fa fa-search"></i></button>
    </p>
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th style="width: 5%">Serial</th>
            <th style="width: 30%">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th style="width: 30%">
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th style="width: 20%">
                Publish @Html.DisplayNameFor(model => model.Date)
            </th>
            <th style="width: 10%"></th>
        </tr>
    </thead>

    @{ int rowNo = 0; }
    @foreach (var item in Model.Data)
    {
        <tbody>
            <tr>
                <td>@(rowNo += 1)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    <span class="fa fa-calendar notice-calendar-icon"></span> @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <p class="btn btn-primary btn-sm action-btn"><span class="fa fa-download action-icon"></span>@Html.ActionLink("Download", "DownloadFile", new { id = item.Id }, new { @class = "action-board" })</p>
                </td>
            </tr>
        </tbody>
    }
</table>