@model SmartSchool.Models.Attendance

@{
    ViewBag.Title = "Entry Attendance";
    Layout = "~/Views/Teachers/_TeacherLayout.cshtml";
}

<h2></h2>
<h4 class="h-position">Entry Attendance</h4>
<hr class="hr-design">

@using (Html.BeginForm("EntryAttendance", "Attendance", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <table align="center">
        <tr>
            <td>
                <label>Class: </label>
            </td>
            <td>
                @Html.DropDownListFor(model => model.ClassNo, new SelectList(Model.Classes, "Value", "Text"), "--- Select Class ---", new { @class = "form-control", onchange = "this.form.submit();" })
            </td>
            <td style="width: 20px"></td>
            <td>
                <label>Section: </label>
            </td>
            <td>
                @Html.DropDownListFor(model => model.Section, new SelectList(Model.Sections, "Value", "Text"), "--- Select Section ---", new { @class = "form-control", onchange = "this.form.submit();" })
            </td>
        </tr>
        <tr style="height: 10px"></tr>
        <tr>
            <td>
                <label>Year: </label>
            </td>
            <td>
                @Html.DropDownListFor(model => model.Year, new SelectList(Model.Years, "Value", "Text"), "--- Select Year ---", new { @class = "form-control", onchange = "this.form.submit();" })
            </td>
            <td style="width: 20px"></td>
            <td>
                <label>Date: </label>
            </td>
            <td>
                @Html.EditorFor(model => model.ADate, new { htmlAttributes = new { @class = "form-control" }, @value = DateTime.Now, @readonly = "readonly" })
            </td>
        </tr>
        <tr style="height: 10px"></tr>
    </table>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 5%">
                    @Html.DisplayNameFor(model => model.Attendances)
                </th>
                <th style="width: 10%">
                    @Html.DisplayNameFor(model => model.Roll)
                </th>
                <th style="width: 20%">
                    @Html.DisplayNameFor(model => model.StudentID)
                </th>
            </tr>
        </thead>

        @{ var i = 0; }
        @foreach (var item in Model.Data)
        {
            <tbody>
                <tr>
                    <td>
                        @*@Html.EditorFor(modelItem => item.Mark, new { htmlAttributes = new { @class = "marks-txt" } })*@
                        <input type="checkbox" name="viewModels[@i.ToString()].Attendances" value="true" class="" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Roll)
                        <input type="hidden" name="viewModels[@i.ToString()].Roll" value="@item.Roll" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentID)
                        <input type="hidden" name="viewModels[@i.ToString()].StudentID" value="@item.StudentID" />
                    </td>
                </tr>
            </tbody>
            i++;
        }
    </table>
    <div style="margin: auto;" align="center">
        <button type="submit" class="btn btn-success">Entry</button>
    </div>
}

<div>
    <span class="fa fa-undo admin-back-icon"></span>@Html.ActionLink("Back to List", "ViewAttendance")
</div>

<center>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }
</center>