@model IEnumerable<SmartSchool.Models.Teachers>

@{
    ViewBag.Title = "Assign Teachers";
    Layout = "~/Views/ERP/_AdminLayout.cshtml";
}

<h4 class="h-position">Assign Teachers</h4>
<hr class="hr-design">

<p>
    <button class="btn btn-info" onclick="location.href='@Url.Action("AssignTeacher", "Teachers")'"><span class="fa fa-plus admin-action-icon"></span>Assign Teacher</button>
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th style="width: 10%">
                @Html.DisplayNameFor(model => model.Initial)
            </th>
            <th style="width: 20%">
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th style="width: 10%">
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th style="width: 10%">
                @Html.DisplayNameFor(model => model.Section)
            </th>
            <th style="width: 10%">
                Class Teacher
            </th>
            <th style="width: 5%"></th>
        </tr>
    </thead>
    
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Initial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Class)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Section)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassTeacher)
                    (@Html.DisplayFor(modelItem => item.SectionTeacher))
                </td>
                <td>
                    <p class="btn btn-primary btn-sm admin-action-btn"><span class="fa fa-pencil-square-o admin-action-icon"></span>@Html.ActionLink("Edit", "UpdateAssign", new { id = item.AssignTableId }, new { @class = "admin-action-teacher" })</p>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        </tbody>
    }
</table>