@model SmartSchool.Models.Marks

@{
    ViewBag.Title = "Live Result";
    Layout = "~/Views/Students/_StudentLayout.cshtml";
}

<h2></h2>
<h4 class="h-position">Live Result</h4>
<hr class="hr-design">

@using (Html.BeginForm())
{
    <table align="center">
        <tr>
            <td>
                <label>Class: </label>
            </td>
            <td>
                @Html.DropDownListFor(model => model.ClassNo, new SelectList(Model.Classes, "Value", "Text"), "--- Select Class ---", new { @class = "form-control", onchange = "this.form.submit();" })
            </td>
        </tr>
        <tr style="height: 10px"></tr>
    </table>
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th style="width: 20%">
                @Html.DisplayNameFor(model => model.SubjectName)
            </th>
            <th style="width: 10%">
                @Html.DisplayNameFor(model => model.Mid)
            </th>
            <th style="width: 10%">
                @Html.DisplayNameFor(model => model.Final)
            </th>
        </tr>
    </thead>

    @foreach (var item in Model.Data)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Final)
                </td>
            </tr>
        </tbody>
    }
</table>
<table>
    @foreach (var item in Model.Result())
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.TotalMid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalMid)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.TotalFinal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalFinal)
                </td>
            </tr>
        </tbody>
    }
</table>