@model SmartSchool.Models.Marks

@{
    ViewBag.Title = "Result";
}

<h2></h2>
<h4 class="h-position">Result</h4>
<hr class="hr-design">

@using (Html.BeginForm())
{
    <table align="center">
        <tr>
            <td>
                <label>Class: </label>
            </td>
            <td>
                @Html.DropDownListFor(model => model.ClassNo, new SelectList(Model.Classes, "Value", "Text"), "--- Select Class ---", new { @class = "form-control", required = "Class required" })
            </td>
            <td style="width: 40px"></td>
            <td>
                <label>Student Id: </label>
            </td>
            <td>
                @Html.EditorFor(model => model.StudentID, new { htmlAttributes = new { @class = "form-control", required = "Id required", @placeholder = "Enter student id" } })
            </td>
            <td style="width: 10px"></td>
            <td>
                <button type="submit" class="btn btn-success"><span class="fa fa-eye admin-action-icon"></span>SHOW RESULT</button>
            </td>
        </tr>
        <tr style="height: 10px"></tr>
    </table>
}
<p>@ViewBag.Message</p>
<table>
    @foreach (var item in Model.Data)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.TotalMid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalMid)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.TotalFinal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalFinal)
                </td>
            </tr>
        </tbody>
    }
</table>