@model IEnumerable<SmartSchool.Models.Students>

@{
    ViewBag.Title = "Class";
    Layout = "~/Views/ERP/_AdminLayout.cshtml";
}

<h4 class="h-position">Class</h4>
<hr class="hr-design">

<p>
    <button class="btn btn-info" onclick="location.href='@Url.Action("AssignIntoClass", "Students")'"><span class="fa fa-plus admin-action-icon"></span>Assign Class</button>
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th style="width: 10%">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th style="width: 10%">
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th style="width: 10%">
                @Html.DisplayNameFor(model => model.Section)
            </th>
            <th style="width: 10%">
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th style="width: 10%">
                @Html.DisplayNameFor(model => model.Roll)
            </th>
            <th style="width: 5%"></th>
        </tr>
    </thead>
    
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Class)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Section)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Roll)
                </td>
                <td>
                    <p class="btn btn-primary btn-sm admin-action-btn"><span class="fa fa-pencil-square-o admin-action-icon"></span>@Html.ActionLink("Edit", "UpdateClass", new { id = item.AssignTableId }, new { @class = "admin-action-teacher" })</p>
                </td>
            </tr>
        </tbody>
    }
</table>
