@model SmartSchool.Models.Students

@{
    ViewBag.Title = "Students";
    Layout = "~/Views/ERP/_AdminLayout.cshtml";
}

<h4 class="h-position">Students</h4>
<hr class="hr-design">

<p>
    <button class="btn btn-info" onclick="location.href='@Url.Action("AddStudents", "Students")'"><span class="fa fa-user-plus admin-action-icon"></span>Add Student</button>
</p>
<!-- Search form -->
@using (Html.BeginForm())
{
    <p class="form-inline active-cyan-4">
        @Html.EditorFor(model => model.Search, new { htmlAttributes = new { @class = "search-key", @placeholder = "Search..." }, onchange = "this.form.submit();" })
        <button type="submit" class="btn-sr"><i class="fa fa-search"></i></button>
    </p>
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th style="width: 10%">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th style="width: 20%">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="width: 15%">
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th style="width: 8%">
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th style="width: 15%">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th style="width: 15%">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th style="width: 15%">
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th style="width: 10%">
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    
    @foreach (var item in Model.Data)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <img width="100" height="100" src="~/StudentsImage/@Html.DisplayFor(modelItem => item.ImagePath)" alt="Image Not Available" class="img-circle"/>
                </td>
                <td>
                    <p class="btn btn-primary btn-sm admin-action-btn"><span class="fa fa-pencil-square-o admin-action-icon"></span>@Html.ActionLink("Edit", "UpdateStudentInfo", new { id = item.Id }, new { @class = "admin-action-teacher" })</p>
                </td>
            </tr>
        </tbody>
    }
</table>